In [1]:
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [2]:
len(keyword.kwlist)

35

In [3]:
print(len(keyword.kwlist))

35

In [4]:
for i in range(1,5):
    print(i)
    print(1+1)

1
2
2
2
3
2
4
2

In [5]:
int1 = 10
int2 = 25
print(id(int1))
print(id(int2))

140728528743128
140728528743608

In [6]:
variable = 20 + 5j
print("Is ", variable, " is complex variable? ", isinstance(variable, complex))

Is  (20+5j)  is complex variable?  True

In [7]:
str1 = "Today is christmas day and there is no holiday"
print("The first character of str1 is: ", str1[0])

The first character of str1 is:  T

In [8]:
print(str1[6:18])
print(str1[-6])

is christmas
o

In [9]:
mylist = ["apple", 2, "has", "been", "sold", "out"]
print(mylist)

['apple', 2, 'has', 'been', 'sold', 'out']

In [10]:
mylist[1] = 3
print(mylist)

['apple', 3, 'has', 'been', 'sold', 'out']

In [11]:
mylist.remove(3)
print(mylist)

['apple', 'has', 'been', 'sold', 'out']

In [12]:
mylist.pop(1)
print(mylist)

['apple', 'been', 'sold', 'out']

In [13]:
mydict = {"key1":"add", "key2":"sub", "key3":200}
print(mydict)

{'key1': 'add', 'key2': 'sub', 'key3': 200}

In [14]:
mydict["key2"] = 100
print(mydict)

{'key1': 'add', 'key2': 100, 'key3': 200}

In [15]:
mydict["key4"] = 300
print(mydict)

{'key1': 'add', 'key2': 100, 'key3': 200, 'key4': 300}

In [16]:
del mydict["key3"]
print(mydict)

{'key1': 'add', 'key2': 100, 'key4': 300}

In [1]:
int('5')

5

In [2]:
int('5.5')

ValueError: invalid literal for int() with base 10: '5.5'

In [1]:
float('5')

5.0

In [2]:
float('5.0')

5.0

In [3]:
float('.5')

0.5

In [4]:
float('5.5')

5.5

In [6]:
myString = 'txt1' + '20' + 'txt2'
print(myString)

txt120txt2

In [7]:
myString = 'txt1' + 20 + 'txt2'
print(myString)

TypeError: can only concatenate str (not "int") to str

In [9]:
myString = 'txt1 ' + str(20) + ' txt2'
print(myString)

txt1 20 txt2

In [10]:
myList = ['a', 'a', 'b', 'c', 'c', 'd']
print(type(myList))
print(myList)

<class 'list'>
['a', 'a', 'b', 'c', 'c', 'd']

In [11]:
myList = ['a', 'a', 'b', 'c', 'c', 'd']
mySet = set(myList)
print(type(mySet))
print(mySet)

<class 'set'>
{'b', 'd', 'c', 'a'}

In [14]:
mySTring1 = ("This is my first testing string")
print(type(mySTring1))
print(mySTring1)

<class 'str'>
This is my first testing string

In [16]:
strTolist = list(mySTring)
print(type(strTolist))
print(strTolist)

<class 'list'>
['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'm', 'y', ' ', 'f', 'i', 'r', 's', 't', ' ', 't', 'e', 's', 't', 'i', 'n', 'g', ' ', 's', 't', 'r', 'i', 'n', 'g']